<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <!-- MERCHANT ID -->
        <element type="text" required="false" scope="shop">
            <name>merchant_id</name>
            <label lang="de">Händler-Id:</label>
            <label lang="en">Merchant Id:</label>
            <description lang="de">Ihre Händler-ID erhalten Sie von 8select</description>
            <description lang="en">Your merchant-ID is provided by 8select</description>
        </element>
        <!-- SELECTED DETAIL BLOCK -->
        <element type="select" scope="shop">
            <name>selected_detail_block</name>
            <label lang="de">Position an der das SYS-widget platziert wird:</label>
            <label lang="en">Position where SYS-widget will be placed:</label>
            <store>
                <option>
                    <value>frontend_detail_index_header</value>
                    <label lang="de">Produkttitel</label>
                    <label lang="en">Product title</label>
                </option>
                <option>
                    <value>frontend_detail_index_detail</value>
                    <label lang="de">Produktbeschreibung / Bewertungen</label>
                    <label lang="en">Product description / Reviews</label>
                </option>
                <option>
                    <value>frontend_detail_index_tabs_cross_selling</value>
                    <label lang="de">Cross selling</label>
                    <label lang="en">Cross selling</label>
                </option>
            </store>
        </element>
        <!-- WIDGET PLACEMENT-->
        <element type="select" scope="shop">
            <name>widget_placement</name>
            <label lang="de">Widget vor oder nach Block einfügen:</label>
            <label lang="en">Attach widget before or after block:</label>
            <store>
                <option>
                    <value>widget_before</value>
                    <label lang="de">davor</label>
                    <label lang="en">before</label>
                </option>
                <option>
                    <value>widget_after</value>
                    <label lang="de">danach</label>
                    <label lang="en">after</label>
                </option>
            </store>
        </element>
        <!-- CUSTOM CSS -->
        <element type="textarea" required="false" scope="shop">
            <name>custom_css</name>
            <label lang="de">Eigenes CSS:</label>
            <label lang="en">Custom CSS:</label>
        </element>
        <!-- CONTAINER ELEMENT -->
        <element type="textarea" required="false" scope="shop">
            <name>html_container_element</name>
            <label lang="de">HTML container, CSE_SYS wird durch das SYS-Widget ersetzt:</label>
            <label lang="en">HTML container CSE_SYS will be replaced by the SYS widget:</label>
            <value>
                CSE_SYS
            </value>
        </element>
    </elements>
</config>
