<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/v5.2.13/engine/Shopware/Components/Plugin/schema/menu.xsd">

    <entries>
        <entry>
            <name>8select</name>
            <label lang="en">8select</label>
            <label lang="de">8select</label>
            <controller>CseEightselectBasicAttributeConfig</controller>
            <action>1</action>
            <class>sprite-application-block</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
            <children>
                <entry>
                    <name>Export Einstellungen</name>
                    <label lang="en">Export Settings</label>
                    <label lang="de">Export Einstellungen</label>
                    <controller>CseEightselectBasicAttributeConfig</controller>
                    <action>index</action>
                    <class>sprite-gear</class>
                </entry>
                <entry>
                    <name>Management Console</name>
                    <label lang="en">Management Console</label>
                    <label lang="de">Management Console</label>
                    <controller>CseEightselectBasicAttributeConfig</controller>
                    <action>2</action>
                    <class>sprite-eye--arrow</class>
                    <onclick><![CDATA[window.open('https://console.8select.io');]]></onclick>
                </entry>
            </children>
        </entry>
    </entries>
</menu>
