<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="en">8select CSE Plugin</label>
    <label lang="de">8select CSE Plugin</label>
    <version>1.0.0</version>
    <copyright>Copyright (c) 2017, 8select</copyright>
    <license></license>
    <link>https://1drop.de</link>
    <author>Onedrop GmbH &amp;amp; Co. KG</author>
    <description>
        <![CDATA[
<h2>8select currated shopping engine</h2>
<p>Innovative software to increase sales.</p>
<img width="400" src="http://8select.com/wp-content/uploads/2014/03/mockup-final.png" />
]]>
    </description>
</plugin>
