<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="en">8select CSE</label>
    <label lang="de">8select CSE</label>

    <version>__VERSION__</version>
    <copyright>Copyright (c) 8select Software GmbH</copyright>
    <license>proprietary</license>
    <link>http://8select.com/</link>
    <author>8select Software GmbH</author>
    <description>
        <![CDATA[
<h2>8select CSE</h2>
<p>Curated Shopping as a Service</p>
]]>
    </description>
    <compatibility minVersion="5.2.17" />

    <changelog version="1.0.1">
        <changes lang="de">Bugfixes am Produktexport;</changes>
        <changes lang="en">Bugfixes regarding productexport;</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung;</changes>
        <changes lang="en">First release;</changes>
    </changelog>
</plugin>
